@font-face {
    font-family: Mulish;
    src: url(font/Mulish-VariableFont_wght.ttf) format("truetype-variations");
}

@font-face {
    font-family: Mulish-italic;
    src: url(font/Mulish-Italic-VariableFont_wght.ttf);
}

:root {
    --btn-bg: #fff;
    --header-bg-color: #fff;
    --accent-color: #3355FF;
    --accent-color-hover: #334DCC;
    --dark-text: #0F1424;
    --main-bg: #F6F6F9;
    --block-bg: #fff;
    --paragraph-text: #676E8A;
}

h1, h2, h3, h4, h5, h6, a, button, li, input, p {
    font-family: Mulish;
}

body {
    background-color: var(--main-bg);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 72px;
}

.container {
    max-width: 1120px;
    display: flex;
    gap: 72px;
    flex-direction: column;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: all 150ms ease-in-out;
}

button {
    background-color: var(--btn-bg);
    border: 0;
}

a {
    text-decoration: none;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 48px;
    box-shadow: 0px 15px 25px rgba(51, 85, 255, 0.07);
    width: 100%;
    position: fixed;
    top: 0;
    background-color: var(--header-bg-color);
    z-index: 1;
}

.header__logotype{
    display: flex;
    align-items: center;
}

.header__type {
    padding: 16px 20px;
}

.header__text {
    font-variation-settings:"wght" 600;
    font-size: 14px;
    line-height: 25px;
    color: var(--dark-text);
}

.header__item {
    padding: 24px 24px;
    background-color: var(--header-bg-color);
    transition: all 100ms ease-in-out;
}

.header__item:hover {
    background-color: #F5F6FA;
    transition: all 100ms ease-in-out;
    font-variation-settings: "wght" 750;
}

.header__item_active {
    font-variation-settings: "wght" 750;
    transition: all 100ms ease-in-out;
    color: var(--accent-color);
}

.header__nav {
    display: flex;
    align-items: center;
    background-color: white;
}

.header__logo {
    content: url(images/logo.png);
    height: 48px;
}

.header__ru_active {
    font-variation-settings: "wght" 800;
    color: var(--accent-color);
}

.main {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.3) 0.01%, rgba(255, 255, 255, 0.93) 73.49%), url(images/Main-block-background-image.jpg) center;
    object-fit: cover;
    gap: 30px;
}

.main__title {
    font-variation-settings: "wght" 800;
    font-size: 64px;
    line-height: 80px;
    text-align: center;
    color: var(--dark-text);
}

.main__quote {
    font-family: Mulish-italic;
    font-size: 16px;
    line-height: 20px;
    font-variation-settings: "wght" 500;
    text-align: center;
    color: var(--paragraph-text);
}

.main__btns {
    justify-content: center;
    display: flex;
    align-items: center;
}

.btn-fill {
    color: #fff;
    font-variation-settings: "wght" 700;
    font-size: 16px;
    padding: 20px 40px;
    background: var(--accent-color);
    border-radius: 10px;
    cursor: pointer;
}

.btn-fill:hover {
    background-color: var(--accent-color-hover);
    box-shadow: 0px 15px 25px rgba(51, 85, 255, 0.07);
}

.link-outline {
    font-variation-settings: "wght" 600;
    font-size: 16px;
    color: #676E8A;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    cursor: pointer;
}

.small-text {
    color: var(--paragraph-text);
    font-size: 12px;
}

.link-outline:hover {
    font-variation-settings: "wght" 700;
    color: var(--dark-text);
}

.main__link {
    padding: 20px 40px;
}

.headline-2 {
    font-size: 48px;
    line-height: 60px;
    font-variation-settings: "wght" 800;
    margin-bottom: 32px;
    color: var(--dark-text);
}

.news {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.news__block {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 16px;
}

.article-news {
    display: flex;
    gap: 16px;
    padding: 16px;
    background-color: var(--block-bg);
    border-radius: 10px;
}

.headline-4 {
    font-size: 28px;
    line-height: 35px;
    font-variation-settings: "wght" 750;
    color: var(--dark-text);
}

.article-news__title {
    transition: all 250ms ease-in-out;
}

.article-news__stat {
    display: flex;
    gap: 8px;
    color: var(--paragraph-text);
    margin-top: 8px;
    font-size: 12px;
}

.paragraph {
    font-variation-settings: "wght" 400;
    font-size: 16px;
    line-height: 25px;
    color: var(--paragraph-text);
}

.article-news__desc {
    margin-top: 16px;
}

.col2-3 {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.col1-3 {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.paragraph-bold {
    font-variation-settings: "wght" 700;
    color: var(--paragraph-text);
}

.article-news__btn {
    height: 100%;
    width: 100%;
    background-color: var(--btn-bg);
    color: var(--accent-color);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-variation-settings: "wght" 750;
}

.article-news__btn:hover {
    background-color: var(--accent-color);
    color: var(--btn-bg);
}

.article-news__btn_hover {
    color: var(--btn-bg);
}

.arrow-right {
    width: 18px;
    height: 14px;
}

.personnel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.article-news_hover {
    transition: all 350ms ease-in-out;
    color: var(--accent-color);
}

.article-news:hover {
    box-shadow: 0px 15px 25px rgba(51, 85, 255, 0.07);
}

.article-news_small:hover {
    box-shadow: 0px 15px 25px rgba(51, 85, 255, 0.07);
}

.article-news_small {
    display: flex;
    gap: 16px;
    padding: 16px;
    background-color: var(--block-bg);
    border-radius: 10px;
}

.article-news__image_hover {
    max-width: 100%;
    max-height: 100%;
    transform: scale(1.08);
    transition: all 500ms ease-in-out;
}

.article-news__image {
    max-width: 240px;
    height: 100%;
    object-fit: cover;
    transition: all 250ms ease-in-out;
}

.article-news__image-container {
    min-width: 240px;
    overflow: hidden;
    border-radius: 5px;
}

.headline-3 {
    font-size: 36px;
    line-height: 140%;
    font-variation-settings: "wght" 700;
    color: var(--dark-text);
    margin-bottom: 24px;
}

.cards-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 16px;
    row-gap: 16px;
    margin-bottom: 32px;
}

.card {
    background-color: var(--block-bg);
    border-radius: 10px;
    padding: 16px;
    gap: 32px;
    display: flex;
    flex-direction: column;
}

.card__image {
    border-radius: 5px;
    object-fit: cover;
}

.card__features {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.card__work-experience,
.card__profession {
    flex-direction: row;
    display: flex;
    gap: 8px;
    align-items: center;
}

.icon {
    width: 24px;
}

.card__info {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.about-school__image {
    padding: 16px;
    border-radius: 10px;
    background-color: var(--block-bg);
    object-fit: cover;
    width: 100%;
}

ul {
    list-style-type: none;
}

.about-school__block {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 16px;
}

.goals__list {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.about-school__title-2 {
    margin-bottom: 16px;
}

.about-school {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gallery__block {
    background-color: var(--block-bg);
    padding: 16px;
    border-radius: 10px;
    display: grid;
    column-gap: 8px;
    row-gap: 8px;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 32px;
}

.gallery__image {
    width: 100%;
    border-radius: 5px;
}

.gallery {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contacts__value {
    color: var(--dark-text);
}

h5 {
    font-style: normal;
    font-variation-settings: "wght" 400;
    font-weight: 400;
}

.contacts__value-wrapper {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
}

.contacts__item {
    gap: 12px;
    display: flex;
    flex-direction: column;
}

.contacts__info {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.contacts__block {
    display: grid;
    grid-template-columns: 1fr 2fr;
    width: 100%;
    gap: 16px;
}

.contacts__map {
    border-radius: 10px;
    padding: 16px;
    background-color: var(--block-bg);
}

.map {
    border-radius: 5px;
    width: 100%;
    height: 100%;
}

.contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
}